.border-test {
  
  border: 1px solid black;
}

.tiny {
  font-size: 60%;
}

.bottom {
	/*width: 100%;*/
	margin-top: 30px;
	position: relative;
	bottom: 0px;

}

#mainNav {
	margin-top: .8em;
}

#accountBtn {
	border-style: inset;
	border: 1px solid black;
	border-radius: 90px;
}


/* Thank you CSS tricks */
hr.style-one { border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }
hr.style-three { border: 0; border-bottom: 1px dashed #ccc; background: #999; }

select {

	/*font-size: 18px;*/
}

/* HEADER */

.pageTitleFont {
	font-family: 'Cutive';
}

.page-title {
	font-family: 'Cutive';
	font-stretch: 100%;
	font-size: 2.8em;
}

#subtitle {
	padding: 5px;
	margin-top: 10px;
}

/* USER PROFIES */

.profileBox {

	padding: 5px;
	margin-bottom: 35px;
}

#profileBoxMiddle {
	margin-left: 15px;
	margin-right: 15px;
}

.profileBoxHeading {

	font-weight: bold;
	padding-bottom: 15px;

}

.profileBoxText {
	margin-bottom: 10px;
	font-size: medium;
}

.profileBoxEditOff {
	display: none;
}

.profileBoxEditOn {
	display: inline;
}

.profileBoxImg {
	zoom: 0.7;
	-moz-transform: scale(0.7);
/*	margin-top: -20px;*/
}

.circle {
/*    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;*/
   	/*background: #4679BD;*/
    border: 5px solid #D7F5F3;
    border-radius: 30px;
}

.textboxTest {
	border:2px solid #456879;
	border-radius:10px;
}

.dropdown select {
      border: 0 !important;.  /*Removes border*/
     -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
      background: url('you_own_image_arrow.png')  no-repeat;
  }

 .profileButton {
  	width: 60%;
 }

 #profileButtonContainer {
 	margin-top: 10px;
 }

 .profileButtonEditMode {
 	width: 30%;
 	padding: 2px;
 }

 #middleImg {
 	margin-bottom: 6px;
 }


/* FORM */

.formLabel {
	text-align: center;
}

#user_pass_confirm {
	margin-top: .8em;
}

.formHeader {

	margin-bottom: 2em;

	padding-top: 1em;
	padding-bottom: 1em;
	
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

}