RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

ErrorDocument 404 /404.php 

AuthType Basic  
AuthName "Coopswitch is under construction. Contact Justin to demo."  
#AuthUserFile /var/www/coopswitch/.htpasswd
#AuthUserFile /home/protected/.htpasswd
#require valid-user