AuthType Basic  
AuthName "Coopswitch is under construction. Contact Justin to demo."  
AuthUserFile /var/www/.htpasswd  
require valid-user

#php_value include_path /var/www/resources/config.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.php$
RewriteRule ^(.*)$ $1.php [L]